[submodule "lib/Cead"]
	path = lib/Cead
	url = https://github.com/TotkMods/Cead.git
[submodule "lib/cs-restbl"]
	path = lib/cs-restbl
	url = https://github.com/Nintendo-EPD/cs-restbl
[submodule "lib/cs-msbt"]
	path = lib/cs-msbt
	url = https://github.com/EPD-Libraries/cs-msbt
[submodule "src/NxEditor.PluginBase"]
	path = src/NxEditor.PluginBase
	url = https://github.com/NX-Editor/NxEditor.PluginBase
